@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif; 
    background-color:rgb(133, 207, 239); 
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.create-container,
table {
  width: 900px; 
  max-width: 100%; 
}

.create-container {
  text-align: left; 
  margin-bottom: 10px; 
}

.form-container {
    display:flex; 
    justify-content:center; 
    align-items:center; 
    height:100vh; 
}

.create-btn, button, a {
    text-decoration:none; 
    color:white; 
    background-color:rgb(14, 170, 170); 
    border-radius:10px; 
    border:none; 
    display:inline-block; 
    transition: 0.2s; 
    font-size:1rem; 
    font-weight:bold; 
    cursor:pointer; 
    padding:10px; 
}

.create-btn {
    margin:20px; 
}

#edit-btn {
    background-color:purple; 
}

#edit-btn:hover {
    background-color:rgb(87, 0, 87); 
}

#delete-btn {
    margin-left:10px; 
    background-color:rgb(187, 3, 3); 
}

#delete-btn:hover {
    background-color:rgb(132, 3, 3);
}

.add-submit-btn {
    margin-top:20px; 
}

.create-btn:hover, button:hover, a:hover {
    background-color:darkcyan; 
}


table {
    background-color:rgb(196, 242, 255); 
    border-collapse: collapse;
    margin:0 20px 20px 20px; 
    border:solid 2px; 
}

th, td {
    padding:8px 12px; 
    border-style:solid; 
    border-width: 2px; 
}

th {
    border: solid black 2px; 
    background-color:rgb(14, 170, 170); 
    color:rgb(255, 255, 255); 
}

tr:hover {
    background-color:rgb(160, 234, 255); 
}

#create-form {
    background-color:aliceblue; 
    border-radius:100px; 
    width:min-content; 
    padding:100px; 
}

.inputs-container {
    display:grid; 
    gap:20px 50px; 
    grid-template-columns: 1fr 1fr; 
}

input {
    padding:5px 10px; 
}

label {
    font-size:1.2rem; 
    display:block; 
}

.add-submit-btn {
    font-size:1.2rem; 
}


.actions {
    display:flex; 
}